* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

@import './components/LoginPage/LoginPage.scss';
@import './components/SearchPage/HeaderSearchPage.scss';
@import './components/SearchPage/SearchPageMain.scss';


.page {
  min-height: 100vh;
  width: 100vw;
  background: #eeeeee;
}